
.row{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.movies{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;height: 30%;
   
 
    }
   

/* .movies::-webkit-scrollbar{
    display: none;
} */
.movie{
    width:100%;
    height:200px;
    margin-right: 10px;
    height: 500px;
}

body{
    margin-top: 70px;
}